@import "~bootstrap/scss/bootstrap";


$color-red: rgb(255, 20, 20);
$color-grey: black;


body {
  background: $color-grey;
  color: white;
  padding: 30px;
}

#cardHover {   
    background: transparent;
    color: white;
    //margin: 30px;
    min-width: 30%;
    border : solid white 1px;
    border-radius: 2px;

  }

  #img_card {
    width: 200px;
    height: auto;
    
  }

  .page_title {
    color : $color-red;
  }

  #card {
    background: transparent;
    text-decoration: none !important;
    color: white;

  }

  .navbar {
    background: transparent;
  }

  #hiddenCard {
    display: none;
    color: red;
}

.btnShowMore {
  background: $color-red;
  color: white;
  font-weight: bold;
}

